.boton.cinco span {
	transition: .4s ease-in-out all;
	position: absolute;
	left: 40%;
}

.boton.cinco .icono {
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 2;
	left: -40px;
	transition: .3s ease-in-out all;
	opacity: 0;
}

.boton.cinco svg {
	color: #fff;
	width: 35px;
	height: 35px;
}

.boton.cinco:hover {
	background: #2f9b05;
}

.boton.cinco:hover .icono {
	left: calc(100% - 50px);
	opacity: 1;
}

.boton.cinco:hover span {
	left: 20px;
}