* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #f2f2f2;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
}

.contenedor {
	width: 1200px;
	margin: auto;
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 58px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 80px;
	text-transform: uppercase;
	color: #141414;
	border: 5px solid #141414;
	padding: 5px 10px;
	display: inline-block;
}

.contenedor-botones {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
}

.boton {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 80px;
	background: #141414;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.boton span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}